:root {
  --primary-color: #ea7070;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  margin: 60px auto;
  max-width: 1200px;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: var(--heading-font-family);
  margin: 0;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 42px;
  opacity: 0.7;
}

h4 {
  font-size: 42px;
  opacity: 0.8;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

a:hover {
  color: #2a3166;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  --default-font-family: "Poppins", sans-serif;
}

.navigation-links a {
  margin: 10px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  --default-font-family: "Poppins", sans-serif;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  --default-font-family: "Poppins", sans-serif;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  --default-font-family: "Poppins", sans-serif;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  --default-font-family: "Poppins", sans-serif;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 400px) {
  .sidenav {
    padding-top: 15px;
    --default-font-family: "Poppins", sans-serif;
  }
  .sidenav a {
    font-size: 18px;
    --default-font-family: "Poppins", sans-serif;
  }
}

nav {
  padding: 10px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  display: block;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.content-container {
  padding: 60px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: white;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  color: white;
}

.project-desciption {
  padding: 120px 60px;
}

.logo {
  max-height: 40px;
}

.resize {
  width: 140px;
  height: auto;
  display: inline-block;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.launch-buttons {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: #ea7070;
  box-shadow: var(--box-shadow);
  color: white;
}
.launch-buttons-2 {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-align: center;
  display: block;
  text-transform: capitalize;
  background: #ea7070;
  box-shadow: var(--box-shadow);
  color: white;
  margin-bottom: 40px;
}
.left-heading {
  text-align: left;
}
@media (max-width: 1200px) {
  .launch-buttons {
    text-align: center;
    display: block;
  }
  .content {
    text-align: center;
    padding: 0;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* video banner
*/

header1 {
  position: relative;
  background-color: rgb(10, 10, 10);
  height: 80vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
}

header video {
  position: absolute;

  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.5;
  z-index: 1;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  header {
    background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black
      no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}

.centre {
  width: 80%;
  margin: 0 auto;
  display: inline-block;
}

/* form */

.contact-form {
  background: #fff;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 70%;
}
.contact-form .form-control {
  border-radius: 1rem;
}
.contact-image {
  text-align: center;
}
.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}
.contact-form form {
  padding: 14%;
}
.contact-form form .row {
  margin-bottom: -7%;
}
.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}

.img-container {
  display: flex;
  justify-content: center;
}

.hero {
  background: var(--secondary-color);
  background-image: url("/images/3paint.png");
  background-size: cover;
  background-color: #cccccc;
  height: 300px;
  text-align: center;
  padding: 60px 20px;
  position: relative;
  background-color: rgb(10, 10, 10);
  height: 50vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
  object-fit: cover;
  z-index: 0;
}

.hero p {
  font-size: 3vw;
  font-weight: bold;
  margin: 0;
  color: rgba(255, 255, 255, 0.916);
  opacity: 0.85;
  display: block;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 10vw;
  color: white;
  display: block;
}

@media screen and (max-width: 600px) {
  .hero p {
    font-size: 3vw;
    font-weight: bold;
    margin: 0;
    color: rgba(255, 255, 255, 0.916);
    opacity: 0.85;
    display: block;
  }
  .hero h2 {
    padding-top: 25px;
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 1.5;
    font-size: 10vw;
    color: white;
    display: flex;
  }
}

.centered-element {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.video-wrapper {
  border: 2px solid #000;
  width: 400px;
  height: 200px;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  position: relative;
  color: white;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}
